body{
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
}

button{
  cursor: pointer;
}

.navigation{
  display: flex;
  justify-content: flex-end;
}

.center{
  display: flex;
  justify-content: center;
}

.form{
  width: 700px;
  background: linear-gradient(to top left, #cc0000 0%, #ffff00 100%);
}
